*
{
    margin: 0;
    padding: 0;
}

.container
{
    max-width: 855px ;
    background-color: rgb(218, 216, 216);
    /* margin: 0 auto; */
    height: 60vh;
    padding: 10px;
    overflow-y: auto;
    margin-bottom: 10px;
}
.outside
{
    display: block;
    margin: 0 auto;
    background-color: gray;
    padding: 40px 5px 5px 5px;
    border: 0.5px solid black;
    border-radius: 5px;
    max-width: 772px;
}
.message
{
    background-color: rgb(196, 194, 194);
    padding: 10px;
    margin: 10px 10px;
    width: 30%;
    border: 2px solid black;
    border-radius: 10px;
}
.left
{
    float: left;
    clear: both;
}
.right
{
    float: right;
    clear: both;
}
nav
{
    text-align: center;
    font-size: 2rem;
    color: blue;
    font-style: italic;
    font-family: sans-serif;
}
#sendContainer
{
    
    display: block;
    margin: auto;
    
    max-width: 872px;
    width: 100%;
}
#messageInp
{
    height: 34px;
    width: 91%;
    border: 2px solid black;
    border-radius: 6px;
}
.btn
{
    border: 2px solid black;
    border-radius: 5px;
    cursor: pointer;
    height: 36px;
    width: 7%;
    font-size: 1.2rem;
} 


